* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
  width: 100%;
  height: 100vh;
}

.wrapper .kalei-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
}

.wrapper .kalei-container .layer-main,
.wrapper .kalei-container .layer-1 {
  position: absolute;
  list-style: none;
  padding: 0;
  width: calc(100% - 20px);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.wrapper .kalei-container .layer-main li,
.wrapper .kalei-container .layer-1 li {
  width: 100%;
  aspect-ratio: 1/1;
}

.wrapper .kalei-container .layer-main li:nth-child(1),
.wrapper .kalei-container .layer-1 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffad23), to(white));
  background-image: linear-gradient(#ffad23, white);
}

.wrapper .kalei-container .layer-main li:nth-child(2),
.wrapper .kalei-container .layer-1 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff3c), to(white));
  background-image: linear-gradient(#ffff3c, white);
}

.wrapper .kalei-container .layer-main li:nth-child(3),
.wrapper .kalei-container .layer-1 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7effff), to(white));
  background-image: linear-gradient(#7effff, white);
}

.wrapper .kalei-container .layer-main li:nth-child(4),
.wrapper .kalei-container .layer-1 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1bff), to(#ffbaf2));
  background-image: linear-gradient(#ff1bff, #ffbaf2);
}

.wrapper .kalei-container .layer-main li:nth-child(5),
.wrapper .kalei-container .layer-1 li:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#baffff));
  background-image: linear-gradient(white, #baffff);
}

.wrapper .kalei-container .layer-main li:nth-child(6),
.wrapper .kalei-container .layer-1 li:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff40ff), to(white));
  background-image: linear-gradient(#ff40ff, white);
}

.wrapper .kalei-container .layer-1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .kalei-container .layer-1 li:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrapper .kalei-container .layer-1 li:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrapper .kalei-container .layer-1 li:nth-child(3) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.wrapper .kalei-container .layer-1 li:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.wrapper .kalei-container .layer-1 li:nth-child(5) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.wrapper .kalei-container .layer-1 li:nth-child(6) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 {
  position: absolute;
  list-style: none;
  padding: 0;
  width: calc(100% - 20px);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 30%;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li {
  opacity: 0.06292;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(1) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffb4), to(white));
  background-image: linear-gradient(#ffffb4, white);
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bdff3d), to(white));
  background-image: linear-gradient(#bdff3d, white);
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#fff3ff));
  background-image: linear-gradient(white, #fff3ff);
}

.wrapper .kalei-container .layer-2 li {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.77624;
}

.wrapper .kalei-container .layer-2 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da90ff), to(#a890ff));
  background-image: linear-gradient(#da90ff, #a890ff);
}

.wrapper .kalei-container .layer-2 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
}

.wrapper .kalei-container .layer-2 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
}

.wrapper .kalei-container .layer-2 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#8affff));
  background-image: linear-gradient(white, #8affff);
}

.wrapper .kalei-container .layer-2 li:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#6dff12));
  background-image: linear-gradient(white, #6dff12);
}

.wrapper .kalei-container .layer-2 li:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8c11ff), to(#ffffc6));
  background-image: linear-gradient(#8c11ff, #ffffc6);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 {
  position: absolute;
  list-style: none;
  padding: 0;
  width: calc(100% - 20px);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 30%;
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li {
  background-color: red;
  opacity: 0.89563;
  padding: .5rem;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#017eff));
  background-image: linear-gradient(white, #017eff);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffbc), to(white));
  background-image: linear-gradient(#ffffbc, white);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#95ffff));
  background-image: linear-gradient(white, #95ffff);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff6c), to(#ff36ff));
  background-image: linear-gradient(#ffff6c, #ff36ff);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(1) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(2) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(3) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(4) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrapper .kalei-container .layer-3 li {
  -webkit-clip-path: ellipse(25% 40% at 50% 50%);
          clip-path: ellipse(25% 40% at 50% 50%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.43971;
}

.wrapper .kalei-container .layer-3 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3cff), to(#ffff94));
  background-image: linear-gradient(#ff3cff, #ffff94);
}

.wrapper .kalei-container .layer-3 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffde), to(#ffffdd));
  background-image: linear-gradient(#ffffde, #ffffdd);
}

.wrapper .kalei-container .layer-3 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffdca0));
  background-image: linear-gradient(white, #ffdca0);
}

.wrapper .kalei-container .layer-3 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c67dff), to(#ffa63c));
  background-image: linear-gradient(#c67dff, #ffa63c);
}

.wrapper .kalei-container .layer-3 li:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccffff), to(white));
  background-image: linear-gradient(#ccffff, white);
}

.wrapper .kalei-container .layer-3 li:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe031), to(white));
  background-image: linear-gradient(#ffe031, white);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 {
  position: absolute;
  list-style: none;
  padding: 0;
  width: calc(100% - 20px);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 60%;
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li {
  opacity: 0.04558;
  padding: .5rem;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
          clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#03709d));
  background-image: linear-gradient(white, #03709d);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff30ff), to(#ffff70));
  background-image: linear-gradient(#ff30ff, #ffff70);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#caffff), to(#6cff58));
  background-image: linear-gradient(#caffff, #6cff58);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2aff), to(white));
  background-image: linear-gradient(#ff2aff, white);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(1) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(4) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.wrapper .kalei-container .gridlines {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  list-style: none;
  padding: 0;
  width: 100%;
}

.wrapper .kalei-container .gridlines li {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  aspect-ratio: 1/1;
  position: relative;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-top-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(2) {
  border-top-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(3) {
  border-top-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(4) {
  border-top-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(5) {
  border-top-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(21) {
  border-bottom-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(22) {
  border-bottom-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(23) {
  border-bottom-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(24) {
  border-bottom-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(25) {
  border-bottom-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(6) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(11) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(16) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(21) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(26) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(31) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(36) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(41) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(46) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(51) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(56) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(61) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(66) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(71) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(76) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(81) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(86) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(91) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(96) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(101) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(106) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-left-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(5) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(10) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(15) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(20) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(25) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(30) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(35) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(40) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(45) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(50) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(55) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(60) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(65) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(70) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(75) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(80) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(85) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(90) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(95) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li:nth-child(100) {
  border-right-width: 4px;
}

.wrapper .kalei-container .gridlines li .inner-grid {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.wrapper .kalei-container .gridlines li .inner-grid li {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  aspect-ratio: 1/1;
}
/*# sourceMappingURL=style.css.map */