* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
  width: 100%;
  height: 100vh;
}

.wrapper {
  height: 100vh;
}

.wrapper .kalei-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
}

.wrapper .kalei-container .layer-main,
.wrapper .kalei-container .layer-1 {
  position: absolute;
  list-style: none;
  padding: 0;
  width: calc(100% - 20px);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  height: 100%;
}

.wrapper .kalei-container .layer-main li,
.wrapper .kalei-container .layer-1 li {
  width: 100%;
}

.wrapper .kalei-container .layer-main li:nth-child(1),
.wrapper .kalei-container .layer-1 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1dd2c6), to(#d21d29));
  background-image: linear-gradient(#1dd2c6, #d21d29);
}

.wrapper .kalei-container .layer-main li:nth-child(2),
.wrapper .kalei-container .layer-1 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3affff), to(#ff3a52));
  background-image: linear-gradient(#3affff, #ff3a52);
}

.wrapper .kalei-container .layer-main li:nth-child(3),
.wrapper .kalei-container .layer-1 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ffff), to(#ff577b));
  background-image: linear-gradient(#57ffff, #ff577b);
}

.wrapper .kalei-container .layer-main li:nth-child(4),
.wrapper .kalei-container .layer-1 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74ffff), to(#ff74a4));
  background-image: linear-gradient(#74ffff, #ff74a4);
}

.wrapper .kalei-container .layer-main li:nth-child(5),
.wrapper .kalei-container .layer-1 li:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#91ffff), to(#ff91cd));
  background-image: linear-gradient(#91ffff, #ff91cd);
}

.wrapper .kalei-container .layer-main li:nth-child(6),
.wrapper .kalei-container .layer-1 li:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aeffff), to(#ffaef6));
  background-image: linear-gradient(#aeffff, #ffaef6);
}

.wrapper .kalei-container .layer-1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 {
  position: absolute;
  list-style: none;
  padding: 0;
  width: calc(100% - 20px);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 30%;
  height: 50vh;
  justify-items: center;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li {
  opacity: .6;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 40%;
  height: 40%;
  padding: 3rem;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1dd2c6), to(#d21d29));
  background-image: linear-gradient(#1dd2c6, #d21d29);
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3affff), to(#ff3a52));
  background-image: linear-gradient(#3affff, #ff3a52);
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ffff), to(#ff577b));
  background-image: linear-gradient(#57ffff, #ff577b);
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74ffff), to(#ff74a4));
  background-image: linear-gradient(#74ffff, #ff74a4);
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.wrapper .kalei-container .layer-1 li .inner-layer-1 li:nth-child(4) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.wrapper .kalei-container .layer-2 li {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .8;
}

.wrapper .kalei-container .layer-2 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d017), to(#1717d0));
  background-image: linear-gradient(#d0d017, #1717d0);
}

.wrapper .kalei-container .layer-2 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff2e), to(#2e2eff));
  background-image: linear-gradient(#ffff2e, #2e2eff);
}

.wrapper .kalei-container .layer-2 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff45), to(#4545ff));
  background-image: linear-gradient(#ffff45, #4545ff);
}

.wrapper .kalei-container .layer-2 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff5c), to(#5c5cff));
  background-image: linear-gradient(#ffff5c, #5c5cff);
}

.wrapper .kalei-container .layer-2 li:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff73), to(#7373ff));
  background-image: linear-gradient(#ffff73, #7373ff);
}

.wrapper .kalei-container .layer-2 li:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff8a), to(#8a8aff));
  background-image: linear-gradient(#ffff8a, #8a8aff);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 {
  position: absolute;
  list-style: none;
  padding: 0;
  width: calc(100% - 20px);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 30%;
  height: 50vh;
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li {
  background-color: #dd1a78;
  opacity: .8;
  padding: .5rem;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd1a78), to(#1add7f));
  background-image: linear-gradient(#dd1a78, #1add7f);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff34f0), to(#34fffe));
  background-image: linear-gradient(#ff34f0, #34fffe);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4eff), to(#4effff));
  background-image: linear-gradient(#ff4eff, #4effff);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff68ff), to(#68ffff));
  background-image: linear-gradient(#ff68ff, #68ffff);
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.wrapper .kalei-container .layer-2 li .inner-layer-2 li:nth-child(4) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.wrapper .kalei-container .layer-3 li {
  -webkit-clip-path: ellipse(25% 40% at 50% 50%);
          clip-path: ellipse(25% 40% at 50% 50%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .7;
}

.wrapper .kalei-container .layer-3 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd1a78), to(#1add7f));
  background-image: linear-gradient(#dd1a78, #1add7f);
}

.wrapper .kalei-container .layer-3 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff34f0), to(#34fffe));
  background-image: linear-gradient(#ff34f0, #34fffe);
}

.wrapper .kalei-container .layer-3 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4eff), to(#4effff));
  background-image: linear-gradient(#ff4eff, #4effff);
}

.wrapper .kalei-container .layer-3 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff68ff), to(#68ffff));
  background-image: linear-gradient(#ff68ff, #68ffff);
}

.wrapper .kalei-container .layer-3 li:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff82ff), to(#82ffff));
  background-image: linear-gradient(#ff82ff, #82ffff);
}

.wrapper .kalei-container .layer-3 li:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9cff), to(#9cffff));
  background-image: linear-gradient(#ff9cff, #9cffff);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 {
  position: absolute;
  list-style: none;
  padding: 0;
  width: calc(100% - 20px);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 60%;
  height: 50vh;
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li {
  opacity: .6;
  padding: .5rem;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
          clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  width: 100%;
  height: 30%;
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d017), to(#1717d0));
  background-image: linear-gradient(#d0d017, #1717d0);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff2e), to(#2e2eff));
  background-image: linear-gradient(#ffff2e, #2e2eff);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff45), to(#4545ff));
  background-image: linear-gradient(#ffff45, #4545ff);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffff5c), to(#5c5cff));
  background-image: linear-gradient(#ffff5c, #5c5cff);
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(1) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2rem;
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2rem;
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(3) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2rem;
}

.wrapper .kalei-container .layer-3 li .inner-layer-3 li:nth-child(4) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2rem;
}

.wrapper .kalei-container .gridlines {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  list-style: none;
  padding: 1rem;
  width: 100%;
  height: 70%;
}

.wrapper .kalei-container .gridlines li {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #151515;
  position: relative;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-top-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(2) {
  border-top-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(3) {
  border-top-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(4) {
  border-top-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(5) {
  border-top-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(21) {
  border-bottom-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(22) {
  border-bottom-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(23) {
  border-bottom-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(24) {
  border-bottom-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(25) {
  border-bottom-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(6) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(11) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(16) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(21) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(26) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(31) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(36) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(41) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(46) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(51) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(56) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(61) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(66) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(71) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(76) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(81) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(86) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(91) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(96) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(101) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(106) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(1) {
  border-left-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(5) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(10) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(15) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(20) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(25) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(30) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(35) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(40) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(45) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(50) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(55) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(60) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(65) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(70) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(75) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(80) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(85) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(90) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(95) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li:nth-child(100) {
  border-right-width: 2px;
}

.wrapper .kalei-container .gridlines li .inner-grid {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.wrapper .kalei-container .gridlines li .inner-grid li {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #151515;
  aspect-ratio: 1/1;
}
/*# sourceMappingURL=style.css.map */